<HTML>
	<BODY>
		<form method="POST" action="">
		    <center>
			    <H1>Criar um job</H1> <br>
			    UserId <input type = "text" name= "uid" placeholder="2" />
			    <br>
			    Code <input type = "text" name = "code" placeholder="teste.py"/>
			    <br>
			    Input <input type = "text" name = "inputt" placeholder='{"a": 8, "z": 5}'/>
			    <br>
			    <br>
			    <input type = "submit">
			    <br>
			    <br>
			    ***
		    </center>
		</form>
	</BODY>
	<footer>
		<p>Created by: Isabella Oliveira</p>
	</footer>
</HTML>
